:root {
    --bodyBg: #18122B;
    --mainBg: #393053;
    --mainColor: #443C68;
    --txtColor: #F1FFFA;
    --purple: #393053;
    --orange: #D5C7BC;
    --white: #fff;
    --black: #000;
    --green: #4CAF50;
    --red: #DB190C;
  
    --fontFamily: 'Roboto', sans-serif;
  
    --fontSizeNormal: 1.125rem;
    --fontSizeMedium: 1.25rem;
    --fontSizeLarge: 1.5625rem;
  
    --sideBarWidth: 384px;
    --sideBarLogoHeight: 171px;
    --spacing: 48px;
    --mobileSpacing: 24px;
    --borderRadius: 30px;
  
    --mobile-width: 600px;
    --tablet-width: 1366px;
  }
.box {
    padding: 20px 30px;
    border-radius: var(--borderRadius);
    background-color: var(--mainBg);
    font-family: var(--fontFamily);
    color: var(--white);
}
.purple{
    background-color: var(--purple);

}
.fullheight {

}